.card-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 270px;
    margin: 2em;
    display: grid;
    border-radius: 18px;
    grid-template-columns: 1fr;
    grid-template-rows: 180px 1fr auto;
}

.card-image {
    position: relative;
    /* border-top-left-radius: 18px;
    border-top-right-radius: 18px; */
    border-radius: 18px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../resources/images/eleven.jpg);
    background-size: cover;
}

.card-image img {
    max-width: 75%;
    max-height: 75%;
    transition: max-width 0.4s, max-height 0.4s;
}

.card:hover .card-image img {
    max-width: 110%;
    max-height: 110%;
}


.card {
    box-shadow: 0 15px 30px -10px #000;
    cursor: pointer;
}

.card:hover {
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.2);
}

.card:nth-child(2) .card-image {
    background: url(../resources/images/policewoman.jpeg);
}

.card#day .card-image {
    background: url(../resources/images/stranger-things-3-location-casa-Byers.jpg);
}

.card#night .card-image {
    background: url(../resources/images/night.webp);
}

.selector {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.card:hover .selector {
    opacity: 1;
}

.selector button {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    outline: none;
    border: 2px solid currentColor;
    cursor: pointer;
    padding: 12px 20px;
    transform: translateY(60px);
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.1em;
    font-weight: bolder;
    transition: background-color 0.3s;
}

.selector button:hover {
    background-color: rgb(161, 6, 6, 1);
    /* opacity: 1; */
}
